# Implémentez un modèle de scoring
## Notebook 3b - Test de l'API  
OpenClassrooms - Parcours Data Scientist - Projet 07

In [1]:
import pandas as pd
import requests
import json
import os

In [2]:
# Nombre d'exemples à tester
n_samples = 10

In [3]:
# Récupération des données de test
base_dir = os.getcwd()
df_test_median_path = os.path.join(base_dir, '..', '..', 'P07 - Implémentez un modèle de scoring', 'df_test_median.csv')
df_test = pd.read_csv(df_test_median_path, index_col=None)

In [4]:
# Sélection aléatoire de n_samples exemples
df_subset = df_test.sample(n_samples)

In [5]:
# Récupération des id clients
sk_id_curr = df_subset['SK_ID_CURR'].astype('int')

In [6]:
# Conversion au format JSON
data_json = json.dumps({"data": df_subset.drop(columns='SK_ID_CURR').values.tolist()})

In [7]:
# Envoi de la requête POST à l'API publiée sur Heroku
response = requests.post(
    'https://failurerepay-35fab8d4873c.herokuapp.com/predict',
    headers={'Content-Type': 'application/json'},
    data=data_json
)

In [8]:
# DataFrame pour affichage des probabilités de défaut et accord ou non de crédit
predictions = pd.DataFrame({'Customer id': sk_id_curr.values.tolist(), 'Failure probability': response.json()})
predictions['Credit agreement'] = predictions['Failure probability'] < 0.51
predictions['Failure probability'] = round(predictions['Failure probability'], 2)

In [9]:
# Affichage
display(predictions)

   Customer id  Failure probability  Credit agreement
0       429103                 0.28              True
1       417423                 0.39              True
2       436363                 0.26              True
3       378322                 0.49              True
4       328758                 0.71             False
5       388899                 0.53             False
6       154990                 0.68             False
7       305046                 0.66             False
8       359381                 0.22              True
9       414660                 0.27              True